@use "../common/variables.scss" as *;
@use "sass:math";

#tasks-grid {
    min-height: 300px;
}

.dx-datagrid-header-panel {
    padding-top: 0;
}

.dx-datagrid-header-panel .dx-datagrid-toolbar-button .dx-icon.dx-icon-plus,
.dx-datagrid-header-panel .dx-datagrid-toolbar-button .dx-button-text {
    color: #fff;
}

.edit-cell {
    position: relative;

    .dx-dropdowneditor-field-before-template-wrapper {
        min-width: 0;

        .item-field {
            display: inline-flex;
            align-items: center;
            padding-left: var(--list-padding-left);
            white-space: nowrap;

            span {
                display: inline-flex;
                align-items: center;
            }
        }
    }
}