.contact-status.status-commission, .contact-status.status-commission.dx-texteditor-input.status-editor-input {
    color: #03a9f4
}

    .contact-status.status-commission:before {
        background: #03a9f4
    }

.contact-status.status-salaried, .contact-status.status-salaried.dx-texteditor-input.status-editor-input {
    color: #2eb52c
}

    .contact-status.status-salaried:before {
        background: #2eb52c
    }

.contact-status.status-terminated, .contact-status.status-terminated.dx-texteditor-input.status-editor-input {
    color: #de8e8c
}

    .contact-status.status-terminated:before {
        background: #de8e8c
    }

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.contact-status {
    font-size: 13px
}

    .contact-status:before {
        --diameter: 10px;
        content: " ";
        width: var(--diameter);
        height: var(--diameter);
        border-radius: calc(var(--diameter)/2);
        margin-right: calc(var(--diameter)/2);
        display: inline-block;
        align-self: center
    }

    .contact-status &.input {
        display: block;
        padding: 15px 16px 14px
    }

.form-popup .dx-toolbar-center {
    width: 100%
}

.form-popup-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--popup-toolbar-item-spacing)
}

.form-popup-buttons-container.flex-buttons .dx-button {
    flex: 1
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.dx-texteditor.form-editor .form-editor-icon:first-child {
    margin-left: 0;
    pointer-events: none;
    border-color: transparent;
    background-color: transparent
}

#dropzone {
    background-color: var(--typography-bg);
    border-width: 1.5px;
    border-style: dashed;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 124px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    line-height: inherit;
    margin-bottom: 10px
}

#dropzone > span {
    font-weight: 100;
    text-align: center
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.host {
    position: relative;
    display: flex
}

.host .photo {
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--border-color);
    overflow: hidden
}

.host:hover .editable .edit-icon, .host:hover .editable:before {
    opacity: 1;
    transition: opacity .4s
}

.host .editable {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center
}

    .host .editable:before {
        content: "";
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5)
    }

.host .editable .edit-icon {
    opacity: 0;
    display: block;
    position: absolute;
    color: #fff;
    font-size: 28px
}

.dx-dropdownbutton-content .dx-list-item {
    display: block
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

#activities-list {
    padding: 10px;
    min-height: 300px;
    position: relative;
    display: block
}

    #activities-list .dx-list-item {
        margin: 10px 0;
        overflow: visible;
        background: transparent
    }

#activities-list.load {
    min-height: auto
}

.activities-list .dx-list-item-content {
    padding: 0;
    overflow: visible
}

.activities-list .activity {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.149);
    border-left: 2px solid var(--accent-color);
    margin-right: 1px;
    padding: 8px 2px 8px 16px;
    display: grid;
    grid-template-columns: 3fr 1fr 0fr;
    align-items: center
}

.activities-list .activity .name {
    text-overflow: ellipsis;
    overflow: hidden
}

.activities-list .activity .date {
    padding: 0 10px;
    font-size: 12px;
    color: var(--texteditor-label-color);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px
}

.activities-list .activity .date.by {
    width: 170px
}

@media only screen and (max-width: 400px) {
    .activities-list .activity .date {
        grid-row-start: 2;
        padding: 0
    }

    .activities-list .activity .overflow-menu {
        position: absolute;
        right: 15px
    }
}

:root {
    --toolbar-vertical-padding: 16px
}

    :root .dx-theme-generic {
        --change-password-popup-height: 190px
    }

    :root .dx-theme-material {
        --change-password-popup-height: 260px
    }

#contact-panel {
    --contact-side-panel-width: 350px
}

.screen-x-small #contact-panel {
    --contact-side-panel-width: 100vw
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(var(--contact-side-panel-width)*-1);
    background: var(--base-bg);
    transition: right .4s
}

    .panel .dx-layout-manager-one-col .dx-box-item .dx-single-column-item-content .contact-fields-group {
        padding-top: 20px
    }

    .panel .photo-row .dx-item > .dx-item-content > .dx-item:first-child {
        max-width: 144px
    }

        .panel .photo-row .dx-item > .dx-item-content > .dx-item:first-child .photo-box {
            padding-bottom: 0
        }

.embedded.dx-viewport .panel {
    top: 0
}

.panel.open {
    right: 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.04),0 4px 4px 0 rgba(0,0,0,.12)
}

.panel.pin {
    position: absolute;
    transition: none;
    box-shadow: none;
    border-left: 1px solid var(--border-color)
}

.panel.pin.open {
    top: 0;
    position: relative
}

.panel .data-wrapper {
    padding-bottom: var(--toolbar-vertical-padding);
    height: 100%;
    width: var(--contact-side-panel-width)
}

.panel .data-wrapper .panel-toolbar {
    --padding: calc(var(--toolbar-vertical-padding)/2);
    padding: var(--padding) var(--padding) var(--padding) var(--toolbar-vertical-padding)
}

.panel .data-wrapper .data-part {
    padding: 0 16px
}

.panel .data-wrapper .data-part.border {
    border-bottom: 1px solid var(--border-color)
}

.panel .data-wrapper .data-part-toolbar {
    padding: 10px 16px;
    margin-bottom: var(--toolbar-margin-bottom)
}

.panel .data-wrapper .data-part-toolbar .dx-button {
    min-width: 90px
}

.panel .data-wrapper .panel-scroll {
    height: calc(100% - 20px)
}

.panel .data-wrapper .contact-name {
    font-weight: 700;
    margin-right: 8px
}

.panel .data-wrapper .opportunities {
    padding-bottom: 10px
}

.panel .data-wrapper .dx-accordion .accordion-title {
    vertical-align: middle;
    padding-right: 10px;
    display: flex;
    align-items: center
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.view-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row
}

.view-wrapper .grid .name-template .position {
    font-size: 12px;
    color: var(--texteditor-label-color)
}

.view-wrapper .grid .dx-datagrid-header-panel {
    padding: 0 var(--content-padding)
}

    .view-wrapper .grid .dx-datagrid-header-panel .dx-toolbar {
        margin-bottom: 0;
        padding: var(--toolbar-margin-bottom) 0
    }

.view-wrapper .grid .dx-datagrid-content .dx-row {
    cursor: pointer
}

.view-wrapper .grid .grid-header {
    font-size: 22px;
    font-weight: 400;
    padding-right: 25px
}

.edit-cell {
    position: relative
}

.edit-cell contact-status {
    position: absolute;
    margin-top: 10px;
    margin-left: 11px
}


.form-popup .dx-toolbar-center {
    width: 100%
}

.form-popup-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--popup-toolbar-item-spacing)
}

.form-popup-buttons-container.flex-buttons .dx-button {
    flex: 1
}

.status span {
    font-size: 13px
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.dx-texteditor.form-editor .form-editor-icon:first-child {
    margin-left: 0;
    pointer-events: none;
    border-color: transparent;
    background-color: transparent
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.dx-toolbar {
    margin-bottom: var(--toolbar-margin-bottom)
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

#task-form {
    min-height: 250px
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

#tasks-grid {
    min-height: 300px
}

    #tasks-grid .priority span {
        font-size: 13px
    }

 .edit-cell {
    position: relative
}

.dx-dropdownbutton-content .dx-list-item {
    display: block
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.circle[data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background: var(--accent-color);
    color: var(--base-bg)
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.card {
    --low-priorety-color: #dfb32f;
    --normal-priorety-color: #6fbaca;
    --high-priorety-color: #d9534f;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    display: block
}

 .card-wrapper {
    padding: 10px
}

     .card-wrapper .dx-button {
        position: absolute;
        right: 10px;
        font-size: 18px;
        opacity: .87
    }

     .card-wrapper.priority-low .card-priority {
        background: var(--low-priorety-color)
    }

     .card-wrapper.priority-low span.priority {
        color: var(--low-priorety-color)
    }

     .card-wrapper.priority-normal .card-priority {
        background: var(--normal-priorety-color)
    }

     .card-wrapper.priority-normal span.priority {
        color: var(--normal-priorety-color)
    }

     .card-wrapper.priority-high .card-priority {
        background: var(--high-priorety-color)
    }

     .card-wrapper.priority-high span.priority {
        color: var(--high-priorety-color)
    }

     .card-wrapper .card-content {
        padding-left: 14px
    }

         .card-wrapper .card-content span.priority {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px
        }

         .card-wrapper .card-content span.date {
            padding-left: 8px;
            font-size: 12px;
            line-height: 14px;
            opacity: .87
        }

     .card-wrapper .card-subject {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        padding-right: 40px
    }

     .card-wrapper .card-assignee {
        padding-top: 14px;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

     .card-wrapper .card-priority {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        width: 4px
    }

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.scrollable-board {
    white-space: nowrap
}

.list {
    border-radius: 4px;
    margin: 10px;
    background-color: var(--background-gray-color);
    display: inline-block;
    vertical-align: top;
    white-space: normal
}

.list .list-title {
    font-size: 16px;
    padding: 10px;
    margin-bottom: -10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between
}

.list .list-title .dx-button {
    background-color: transparent
}

.scrollable-list {
    width: 260px
}

 .sortable-cards {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100px
}

     .sortable-cards .dx-sortable {
        display: block
    }

.add-task {
    padding: 10px
}

 .add-task .dx-button-text,  .add-task .dx-icon {
    color: var(--accent-color)
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.view-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.view-wrapper .dx-toolbar {
    padding: var(--toolbar-margin-bottom) var(--content-padding)
}

.view-wrapper .dx-toolbar .toolbar-header {
    font-size: 22px;
    font-weight: 400;
    padding-right: 25px
}

.view-wrapper .gantt, .view-wrapper .grid, .view-wrapper .kanban {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-height: calc(100% - var(--toolbar-height) - var(--content-padding)*2)
}

.view-wrapper .gantt {
    padding: 0 var(--content-padding) var(--content-padding)
}

.view-wrapper .kanban {
    padding: 0 0 var(--content-padding) calc(var(--content-padding)/2)
}
