

/* Define standard variables and values for website */
$bgcolor: red;
$textcolor: darkblue;
$fontsize: 18px;

/* Use the variables */
.test2 {
  width: 300px;
  height: 300px;  
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}