@import 'home';

/* Define standard variables and values for website */
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;

/* Use the variables */
.test {
  height: 200px;
  width: 200px;
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}